/**
 * Anthony Luc, Michael Wang
 * Programming Paradigms
 * styles.css
 */

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Raleway');

:root {
    --main-color: #dc3545;
    --text-color: #FFFFFF;
}

#round {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.title {
  background-color: var(--main-color);
  color: var(--text-color);
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 20px;
}

div.buttons {
  position: absolute;
  top: 100px;
  left: 14px;
}

div.form-group {
  position: absolute;
  top: 80px;
  left: 445px;
}

div.form-group2 {
  position: absolute;
  top: 80px;
  left: 800px;
}

div.input_text {
  position: absolute;
  top: 80px;
  left: 600px;
}

div.video {
  position: relative;
} 

.lane-row1 {
  color: var(--text-color);
  position: absolute;
  top: 140px;
  left: 14px;
  margin: .825rem .0rem .825rem 0rem;
  padding: .625rem 1.625rem .825rem .4em;
  visibility: hidden;
}

.lane-row2 {
  color: var(--text-color);
  position: absolute;
  top: 260px;
  left: 14px;
  margin: .825rem .0rem .825rem 0rem;
  padding: .625rem 1.625rem .825rem .4em;
  visibility: hidden;
}
.lane-row3 {
  color: var(--text-color);
  position: absolute;
  top: 380px;
  left: 14px;
  margin: .825rem .0rem .825rem 0rem;
  padding: .625rem 1.625rem .825rem .4em;
  visibility: hidden;
}
.lane-row4 {
  color: var(--text-color);
  position: absolute;
  top: 500px;
  left: 14px;
  margin: .825rem .0rem .825rem 0rem;
  padding: .625rem 1.625rem .825rem .4em;
  visibility: hidden;
}